*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-size: 1em;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
  line-height: 1.8;
}

nav {
    color: #fff;
    background-color: #000;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

ul.navbar li {
  display: inline-block;
}

ul.navbar li:last-child {
  margin-left: auto;
}

ul.navbar li a {
    color: #fff;
    display: block;
    padding: 8px 16px;
    font-size: 14px;
}

ul.navbar li a:hover {
    background-color: lightgray;
    color: #333;
}

div.text-center {
    text-align: center;
}

h1.hero-title {
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 3.5rem;
}

div.text-center p {
    color: #000 !important;
    margin-bottom: 3.5rem;
}

span.bg-dark {
    background-color: #000;
    color: #fff;
    padding: 2px 3px;
}

.hero-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.hero-card img {
      width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.hero-card h2,
.hero-card button {
  position: absolute;
  left: 40px;
  color: #fff;
  z-index: 100;
}

.hero-card h2 {
  top: 30%;        /* position from bottom of image */
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.hero-card h2 span {
    font-size: 65px;
  color: #f8c9da; /* Emma Grace pink accent */
}

.hero-card button {
  top: 57%;         /* slightly below the heading */
  padding: 10px 20px;
  background-color: #f06292;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-card button:hover {
    background-color: #ff1493;
}